@blue: #33AFFF;


.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	color: black;
	.margenes(50px, 0px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: @blue;
	.margenes(10px, 0px);
}

.card-compra{
	flex: 1 200px;
	margin-top: 10px
}

.card-collapse{
	flex: 1 200px;
	margin-top: 10px;
	margin-right: 5px;
}

.btn-compra{
	width: 100%;
	border-radius: 0px;
	

}

 .footer-address-icon{
 	padding-right: 10px;
 }


.card-subtitle{
	padding-bottom: 15px;
}

.card-img-top {
	width: 10vh;
	height: 10vh;
	object-fit: cover;
}

.oi-star{
	color: gold;
}

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-content{
	padding-top: 10px;
}

