$blue: #33AFFF;
$yellow: #ffea00;
$red: #ff1100;
$green: #00ff1e;



@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


@mixin paddingmix($a, $b, $c, $d){
	padding: $a, $b, $c, $d;
}


.jumbotron{
	color: black;
	@include margenes(50px, 0px);
}

footer{
	@include paddingmix(10px, 10px, 0px, 10px)
	background-color: $blue;
	@include margenes(50px, 0px);
}

.card-compra{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.card-collapse{
	flex: 1 200px;
	margin-top: 10px;
	margin-right: 5px;
}

.btn-compra{
	width: 100%;
	border-radius: 0px;
	

}

 .footer-address-icon{
 	padding-right: 10px;
 }


.card-subtitle{
	padding-bottom: 15px;
}

.card-img-top {
	width: 10vh;
	height: 10vh;
	object-fit: cover;
}

.oi-star{
	color: gold;
}

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-content{
	padding-top: 10px;
}

